/* Variables */

$font-header: 'Noto Serif', serif;
$font-text: 'Secular One', sans-serif;
$font-name: 'Great Vibes', cursive;


$color-one: #fdc829; /*zolty*/
$color-text-one: #ffffff; /*bialy*/
$color-text-two: #000000; /*czarny*/
$color-text-three: #8f8e8e; /*szary*/
$color-background: #f0f0f0; /*jasnoszary*/

/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    color: $color-text-three;
    font-weight: normal;
}


.container {
    max-width: 930px; 
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    padding: 120px 0;
    text-align: center;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 50px;

}

.navigation ul {
    margin: 0;
    list-style-type: none;
    font-family: $font-text;
}

.navigation p {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-one;
    font-family: $font-name;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 3px;
}

.nav-list {
    flex: 0 0 52%;
    max-width: 485px;
}

.nav-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.navigation ul li {
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: $color-text-one;
}

/*Splash*/

.splash-image {
    background-image: url('https://i.postimg.cc/Pxs3qYkh/pexels-fauxels-3184464.jpg');
    background-position: bottom left;
    background-size: cover;
    padding-bottom: 165px;
}

.splash {
    color: $color-text-one;
    position: relative;
    text-align: center;
    margin: 0;
    min-height: 475px;
}

.splash-inner {
    margin: 0;
    position: absolute;
    width: 100%;   
    top: 200px;
}

.page-title {
    font-size: 60px; 
    margin-top: 50px;
    margin-bottom: 55px;
    word-spacing: 3px;
    font-family: $font-text;
    padding: 0;
}

.page-subtitle {
    margin: 0;
    font-size: 38px;
    font-family: $font-header;
    padding: 0;
}

.btn {
    display: inline-block;
    width: 240px;
    height: 65px;
    margin: 0;
    font-family: $font-text;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: $color-one;
    color: $color-text-one;
    position: relative;
}

.btn p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


 /* Section services*/
 
 .section-title {
    margin-bottom: 80px;
    margin-top: 0;
}

.section-title h3 {
   font-size: 30px; 
   padding-bottom: 20px;
   margin: 0;
   color: $color-text-two;
   font-family: $font-text;
   letter-spacing: 1px;
}

.section-title p {
    margin: 0;
    font-style: italic;
}

.circle {
  height: 73px;
  width: 73px;
  border: 5px solid $color-one;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: white;
}

.circle i {
    color: $color-one;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 37px;
}

h5 {
    color: $color-text-two;
    font-family: $font-text;
    font-size: 18px;
    margin: 0;
    padding-top: 28px;
}

.service-title {
    padding-bottom: 15px;
}

.subtitle {
    margin: 0;
    font-size: 16px;
}

.service-subtitle {
    font-size: 14px;
    line-height: 1.3;
}

.service-container {
    width: 290px;
}
 
  
